.nav {
  will-change: transform;
  margin: 10px 0px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #ffffff;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.nav--active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  margin: 10px 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.nav__item:hover {
  opacity: 0.75;
}
.nav__thumb {
  border-radius: 25px;
  display: block;
  height: 85px;
  background: #dc143c;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  border:4PX solid #BFBDC1;
}
.nav__thumb:before {
  content: attr(data-letter);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  text-transform: uppercase;
  opacity: 0.15;
}
.nav__label {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-size: 35px;
  color: white;
  font-weight: bold;
  font-family: Calibri;
}
@media (max-width: 850px) {
  .nav__label {
    font-size: 14px;
  }
}
@media (max-width: 720px) {
  .nav__thumb {
    height: 90px;
  }
  .nav__thumb:before {
    font-size: 32px;
    opacity: 0.7;
  }
}
.burger {
  position: absolute;
  right: 0;
  top: 100%;
  width: 60px;
  height: 60px;
  background: #1a1a1a;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.burger__patty {
  position: relative;
  width: 60%;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:before,
.burger__patty:after {
  will-change: transform;
  content: "";
  position: absolute;
  left: 0;
  background: #fff;
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:before {
  top: -10px;
}
.burger__patty:after {
  top: 10px;
}
.burger--close .burger__patty {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger--close .burger__patty:before {
  -webkit-transform: rotate(-90deg) translate(-9px, 0);
          transform: rotate(-90deg) translate(-9px, 0);
}
.burger--close .burger__patty:after {
  opacity: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.page {
  height: 70vh;
  will-change: transform;
  -webkit-perspective: 400px;
          perspective: 400px;
  overflow: hidden;
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
 
}
.section {
  will-change: transform;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.section--hidden {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.section--active {
  -webkit-transform: translateX(0) rotateY(0);
          transform: translateX(0) rotateY(0);
  z-index: 2;
}
.section:before {
  content: attr(data-letter);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 75vh;
  text-transform: uppercase;
  opacity: 0.15;
  z-index: -1;
}
.section__wrapper {
  width: 100%;
  max-width: 800px;
  padding: 0 8vw;
}
.section__title {
  margin: 0 0 25px 0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.section p {
  margin: 0 0 25px 0;
  font-family: 'Calibri';
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: left; 
}
.section p:last-child {
  margin-bottom: 0;
}
.color1 {
  background: #4788b7;
  color:#5d4213 !important;
}
.fontcolor1 li a {
  color:#5d4213 !important;
}
.fontcolor2 li a {
  color:#205a08   !important;
}
.fontcolor3 li a {
  color:#00aeed  !important;
}
.fontcolor4 li a {
  color: #193564  !important;
}
.color2 {
  background: #88e1fc;
  color: #205a08 !important;
}
.color3 {
  background: #818585;
  color: #00aeed !important;
}
.color4 {
  background: #2a285a;
  color: #193564  !important;
}
.color5 {
  background: #9b59b6;
}
.color6 {
  background: #bdc3c7;
}

@media (max-width: 720px) {
  .logo {
    top: 160px;
  }
}

/**FEATURE TABS
**********************************/
.nav-tabs, .nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
    border: none !important;
    background: none !important;
    text-decoration: none !important;
}
.text-center {
    text-align: center !important;
}
.nav-tabs > li > a,
.nav-filters > li > a {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
    padding: 6px 9px;
    opacity: .5;
}
.block-heading h2{
    margin-bottom: 11px;
    line-height: 1.4;
    font-size: 36px;
    font-weight: 300;
    color:#ffffff;
}
.block-heading span{
  color:#ffffff;
}
hr {
    margin: 0;
    border-top: 1px solid #f2f2f2; 
}
hr.with-shadow {
    position: relative;
    border-top: 1px solid #e8e8e8;
}
hr.with-shadow:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    content: "";
    top: 0px;
    left: 0;
    -webkit-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.07);
    box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.07); 
}
.feature-tabs {
    padding: 20px 15px 0 20px;
    height: 450px;
}

.feature-tabs .tabs {
    float: right;
    width: 55.6%;
    max-width: 550px;
    padding-left: 7%;
    margin-top: 80px;
}
.nav-tabs > li, .nav-filters > li{
    float: none !important;
    display: inline-block;
    margin: 3px 12px;
}

.feature-tabs .nav-tabs {
    text-align: center;
    margin: 70px 0 25px 0;
    padding: 0;
}
.feature-tabs .nav-tabs > li {
    margin: 3px 12px;
    color:#ccd0c8;
}
.feature-tabs .nav-tabs > li > a > i {
    color: #ffffff;
    font-size: 50px;
}
.feature-tabs .nav-tabs > li > a:after {
    display: none;
}
.feature-tabs .tab-pane h3 {
    font-weight: normal;
    color:#ffffff;
}
.feature-tabs .tab-pane p {
    font-size: 14px;
    color:#ffffff;
}
.light-color .tab-pane p,
.light-color.tab-pane p {
    font-weight: 300;
}
.feature-tabs1 .light-color .tab-pane p {
    opacity: .6;
}
.feature-tabs1 {
    padding: 20px 15px 0 20px;
}
.feature-tabs1 .devices {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1025px;
}
.feature-tabs1 .tabs {
    float: right;
    width: 55.6%;
    max-width: 550px;
    padding-left: 7%;
    margin-top: 80px;
}
.feature-tabs1 .devices img {
    width: 100%;
}

.feature-tabs1 .phone {
    position: absolute;
    z-index: 10;
    left: 6.3%;
    width: 27%;
    max-width: 290px;
    overflow: hidden;
}

.feature-tabs1 .nav-tabs {
    text-align: center;
    margin: 70px 0 25px 0;
    padding: 0;
}
.feature-tabs1 .nav-tabs > li {
    margin: 3px 12px;
    color:#ccd0c8;
}
.feature-tabs1 .nav-tabs > li > a > i {
    color: #ffffff;
    font-size: 50px;
}
.feature-tabs1 .nav-tabs > li > a:after {
    display: none;
}
.feature-tabs1 .tab-pane h3 {
    font-weight: normal;
    color:#ffffff;
}
.feature-tabs1 .tab-pane p {
    font-size: 14px;
    color:#ffffff;
}

.feature-tabs1 .light-color .tab-pane p {
    opacity: .6;
}
.devices .tablet .mask,
.devices .phone .mask {
    position: absolute;
    overflow: hidden;
}

.visible-when-stack {
   
    text-align: center;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a{
    opacity: 1;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    border: none;
    background: none;
    outline: none;
    background-color: none !important;
    text-decoration: none;
}
@media screen and (max-width: 1440px) {
    .feature-tabs .tabs,
    .feature-tabs .nav-tabs {
        margin-top: 28px;
    }
     .feature-tabs1 .tabs,
    .feature-tabs1 .nav-tabs {
        margin-top: 28px;
    }
}
@media screen and (max-width: 1200px) {
    .feature-tabs {
        padding-top: 0;
    }
    .feature-tabs .nav-tabs > li {
        margin: 3px 10px;
    }
    .feature-tabs .nav-tabs > li > a > i {
        font-size: 43px;
    }
    .feature-tabs .devices {
        margin-top: 40px;
    }
    .feature-tabs1 {
        padding-top: 0;
    }
    .feature-tabs1 .nav-tabs > li {
        margin: 3px 10px;
    }
    .feature-tabs1 .nav-tabs > li > a > i {
        font-size: 43px;
    }
    .feature-tabs1 .devices {
        margin-top: 40px;
    }
}
@media screen and (max-width: 1050px) {
    .feature-tabs {
        padding: 10px 15px 60px 15px; 
    }
    .feature-tabs .tabs,
    .feature-tabs .devices {
        width: 100%;
        float: none;
    }
    
    .feature-tabs .tabs {
        padding-left: 0;
        margin: 40px auto 0 auto;
    }
     .feature-tabs {
        padding: 10px 15px 60px 15px; 
    }
    .feature-tabs1 .tabs,
    .feature-tabs1 .devices {
        width: 100%;
        float: none;
    }
    .feature-tabs1 .devices {
        margin-top: 15px;
        padding-right: 4%;
        overflow: hidden;
    }
    .feature-tabs1 .devices .phone {
        right: 0;
    }
    .feature-tabs1 .tabs {
        padding-left: 0;
        margin: 40px auto 0 auto;
    }
    .visible-when-stack {
        display: block;
    }
    .hidden-when-stack {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .feature-tabs {
        padding-top: 20px;
    }
     .feature-tabs1 {
        padding-top: 20px;
    }
}
/* Alternative display */
.nav-tabs.alt-tabs {
    display: inline-block;
    padding: 0;
    margin-bottom: 24px; 
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.15);
}
.nav-tabs.alt-tabs:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.nav-tabs.alt-tabs li {
    float: left;
    margin: 0;
}
.nav-tabs.alt-tabs li a {
    display: block;
    padding: 15px;
    text-align: center;
    font-weight: normal;
    opacity: 1;
    color: #757575;
    margin: 0;
}
.nav-tabs.alt-tabs li.active a {
    color: #757575;
    background-color: #e6e6e6;
}
.nav-tabs.alt-tabs li a:after {
    display: none;
}
.nav-tabs.alt-tabs.nav-vertical li {
    float: none;
    display: block;
}

@media screen and (max-width: 768px) {
    .nav-tabs.nav-vertical > li,
    .nav-filters.nav-vertical > li {
        display: inline-block;
        margin: 0 18px 0 0;
    }
    .nav-tabs.alt-tabs.nav-vertical > li {
        margin: 0;
    }
    .gallery .nav-tabs.alt-tabs {
        display: table;
        margin-left: auto;
        margin-right: auto;  
    }
    .nav-tabs.nav-vertical > li > a,
    .nav-filters.nav-vertical > li > a {
        display: block;
    }
    .nav-tabs.text-right > li,
    .nav-filters.text-right > li {
        margin-right: 0;
        margin-left: 18px;
    }
}
.tab-pane {
    padding-top: 10px;
}
.tab-pane img {
    display: block;
    margin: auto;
}
.transition.fade,
.fade {
    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
}
.scale.fade {
    -webkit-transform: scale(0.9);
                    transform: scale(0.9);
}
.scaleup.fade {
    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
}
.scale.fade.in,
.scaleup.fade.in {
    -webkit-transform: scale(1);
                    transform: scale(1);
}
.left.fade {
    -webkit-transform: translateX(-40px);
                    transform: translateX(-40px);
}
.right.fade {
    -webkit-transform: translateX(40px);
                    transform: translateX(40px);
}
.left.fade.in,
.right.fade.in {
    -webkit-transform: translateX(0px);
                    transform: translateX(0px);
}
.top.fade {
    -webkit-transform: translateY(-40px);
                    transform: translateY(-40px);
}
.bottom.fade {
    -webkit-transform: translateY(40px);
                    transform: translateY(40px);
}
.top.fade.in,
.bottom.fade.in {
    -webkit-transform: translateY(0px);
                    transform: translateY(0px);
}
.flip.fade {
    -webkit-transform: rotateY(-90deg) scale(1.1);
                    transform: rotateY(-90deg) scale(1.1);
    -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
}
.flip.fade.in {
    -webkit-transform: rotateY(0deg) scale(1);
                    transform: rotateY(0deg) scale(1);
    -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
}


/** 16.APP GALLERY
**********************************/

.app-gallery .item {
    display: inline-block;
    max-width: 380px;
}
.app-gallery .item a {
    position: relative;
    display: block;
    background-color: #008fed;
    margin: 0 1px 6px 1px;
}
.app-gallery .item a:hover {
    opacity: 1;
}
@media screen and (max-width: 991px) {
    .app-gallery .item {
        max-width: 320px;
    }
}
@media screen and (max-width: 768px) {
    .app-gallery .item {
        max-width: 280px;
    }
    .gallery .block-heading,
    .gallery .nav-tabs,
    .gallery .nav-tabs.alt-tabs {
        text-align: center !important;
    }
    .gallery .nav-tabs > li {
        margin-right: 9px;
        margin-left: 9px;
    }
}

.features{
     position: relative;
    padding: 0px;
    max-width: 100%;
}
.features .section-content ul {
    margin: 24px 0 0;
    padding: 0;
}
.features .section-content ul li {
    list-style: none;
    margin-bottom: 20px;
    width: 100%;
}
.features  .section-content ul li a {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  background: #BFBDC1;
  padding: 7px 14px 14px 65px;
  border-radius: 20px;
  text-decoration: none;
  cursor: default;
  position: relative;
  border: 3PX solid #f1eef5;
}
.features  .section-content ul li a:hover {
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
 }

.features  .section-content ul li a div {
  position: absolute;
  left: 12px;
  top: 23px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.features .section-content h5{
  font-size: 30px;
  line-height: 1.625 !important;
  width: 515px;
  margin: 0px !important;
  color: white;
  font-family: Calibri;
  font-weight: bold;
}
.features .iphone {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  width: 240px;
  height: 440px;
  background: url("../img/iphone-feature-section.png") no-repeat;
  background-size: 100% 100%;
  z-index: 100;
  left: 4%;
  - /* Safari 4.0 - 8.0 */
}
  

.features .iphone img {
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  top: 60px;
  left: 25px;
  opacity: 0;
}
.features .iphone img.screenshot-active {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 111;
  opacity: 1;
}
.features section {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  height: 650px;
  max-height: 700px;
  overflow: hidden;
  float: left;
  width: 5%;
  padding-top: 2rem auto;
  color: #fff;
}
.features section:not(.open):hover {
  cursor: pointer;
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.features h2{
  font-size: 3.5em ;
  margin:0 0 .5rem !important;
}
/*section.features section a.trigger {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 90;
  top: 0px;
  left: 0px;
}*/
.features img.section-icon {
  width: 92px;
  float: right;
}
.features section > h2 {
  -moz-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-transform: uppercase;
  font-size: 2rem !important;
  line-height: 1;
}
.features section.open {
  width: 80%;
  text-align: left;
  padding: 3rem 4rem;
}
.features section.open > h2 {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  position: static;
  margin: 0 0 .5rem !important;
  /*text-transform: uppercase;*/
  font-size: 3.5em !important;
}
.features section img.section-icon {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 38px;
  float: none;
  height: auto;
  margin-bottom: 10px;
  margin-left: 20%;  
}
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
.page {
    height: 40vh;
}
}
/* ----------- iPad----------- */
/* Portrait and Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
.features .section-content h5 {
    font-size: 23px;
    width:auto;
}
.nav__thumb{
  height: 150px;
}
.nav__label {
    font-size: 23px;
    top: 84%;
    left: 50%;
    margin-top: 0px !important;
  }
  .section p {
    font-size: 17px;
  }
  .page {
    height: 65vh;}
}

@media screen and (max-width: 450px){
  .page {
    height: 40vh;
  }
   p.nav__label.col-lg-7{
   font-size: 11px;  
   top: 43%;
    left: 49%;
 }
  .nav__item{
    margin: 10px 4px;
  }
  .feature-tabs {
    padding: 0; 
    height: 100%;
}
  .features section .section-content ul li a h5{
    font-size: 1.2em !important;
    line-height: 1.3 !important;
  }
  .features section .section-content p{
    font-size: 1em !important;
    line-height: 1.5 !important;
    text-align: left;
  }
  .features .section-content ul li p{
    font-size: 10px;
  }
  .features .section-content h5{
    font-size: 1em !important;
    width:auto;
  }
  .features .section-content ul li a div{
    top:4px;
  }
  .features section.open img.section-icon{margin-left: 0;}
  .features section.attract.open{
    max-height: none;
    height: auto;
    padding: 1em 3em !important;
  }
    .features section.convert.open{
      padding: 2em 3em !important;
    }
    .features section.engage.open{
      padding: 2em 3em !important;
    }
}

@media screen and (min-width: 1500px) {
  .features section img.section-icon {
    width: 55px;
    margin-bottom: 30px;
  }
  .testimonial-content .club-image-container{
    height: 140px !important;
  }
  div#bodyplex img{width: 29% !important; margin: 4% 34% 4%;}
  div#golds img{width: 12% !important; margin-left: 44% !important;}
  div#best img{width: 31% !important; margin: 3.15% 38% 4% !important;}
  section.three-approaches section.features img.section-icon{margin-bottom: 60px !important;}
}

.features section .section-content {
  display: none;
}
/*section.features section .section-content span.feature-helper {
  font-family: "DINBold", Helvetica, Arial, sans-serif;
}*/
.features section .section-content p{
  font-size: .9em !important;  
  margin: 0;
  line-height: 1;
}
/*section.features section .section-content p.helper:before {
  content: "";
  display: block;
  background: url("../img/cursor-icon.png");
  background-size: 100% 100%;
  height: 19px;
  width: 12px;
  margin-right: 6px;
  display: inline-block;
  position: relative;
  top: 2px;
}*/
.features section .section-content ul {
  margin: 24px 0 0;
  padding: 0;
}
.features section .section-content ul li {
  list-style: none;
  margin-bottom: 20px;
  width: 100%;
}
.features section .section-content ul li a {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  background: rgba(255, 255, 255, 0);
  padding: 7px 14px 14px 65px;
  border-radius: 7px;
  text-decoration: none;
  cursor: default;
  position: relative;
}
.features section .section-content ul li a:hover {
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.features section .section-content ul li a div {
  position: absolute;
  background-size: 120px 60px;
  background-position: -60px 0;
  left: 3px;
  top: 6px;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.features section .section-content ul li a h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.features section .section-content ul li.active a {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}
/*section.features section .section-content ul li.active a div {
  background-position: 0px 0;
}*/
/*section.features section.open a.trigger {
  display: none;
}*/
.features section.open .section-content {
  display: block;
}
.features section.open img.section-icon {
  width: 92px;
  float: right;
}
.features a.secondary-cta{
  margin: 10px 0 !important;
  float: right;
}

.features section.attract {
  background: #f47d6f;
}
.features section.attract:not(.open):hover {
  background: #f06357;
}
.features section.attract li a {
  border: 2px solid #DA5145;
}

.features section.convert {
  background: #788C96;
}
.features section.convert:not(.open):hover {
  background: #6C818C;
}
.features section.convert li a {
  border: 2px solid #4A606B;
}

.features section.engage {
  background: #FFD144;
}
.features section.engage:not(.open):hover {
  background: #ffc62f;
}
.features section.engage li a {
  border: 2px solid #fa9000;
}

.features section.sell {
  background: #8BDC65;
}
.features section.sell:not(.open):hover {
  background: #6ecf53;
}
.features section.sell li a {
  border: 2px solid #4bb140;
}

.features section.connect {
  background: #00C4DC;
}
.features section.connect:not(.open):hover {
  background: #00b5d2;
}
.features section.connect li a {
  border: 2px solid #018db9;
}



@media screen and (max-width: 740px) {
  .features .iphone {
    display: none;
  }
  .features section .section-content ul li a {
    width: 100%;
    border: 2px solid #fff;
    text-align: left;
  }
  .features section .section-content ul li a div {
    background-position: 0;
  }
  .features section .section-content ul li.active a {
    box-shadow: 0px 2px 8px 0px transparent !important;
  }
  .features section.open {
    padding: 4rem 3rem 2rem !important;
    text-align: center;
    max-height: 840px;
  }
  .features section.open > h2 {
    display: block !important;
    position: static !important;
    margin-left: 0 !important;
  }
  .features section.open img.section-icon {
    width: 92px !important;
    float: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .features section {
    width: 100%;
    clear: both;
    float: none;
    height: 60px;
    max-height: 750px;
    padding: 10px 3rem;
    text-align: left;
  }
  .features section > h2 {
    margin: 0px;
    display: inline;
    position: relative;
    top: -13px;
  }
  .features .iphone {
    left: initial;
    margin-left: 0px;
  }
  .features[data-section="convert"] .iphone {
    margin-top: 60px;
  }
  .features[data-section="engage"] .iphone {
    margin-top: 120px;
  }
  .features[data-section="sell"] .iphone {
    margin-top: 180px;
  }
  .features[data-section="connect"] .iphone {
    margin-top: 240px;
  }
/*  section.features section img.section-icon {
    float: none;
    margin-right: 20px;
  }*/
  section.features section.open {
    width: 100%;
    padding: 4rem 3rem;
    padding-right: calc(5% + 360px);
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  .features section.open img.section-icon {
    width: 55px;
    float: left;
    position: relative;
    top: 2px;
  }
  section.features section.open > h2 {
  margin-left: 80px;
  margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 1100px) {
  =.features section .section-content h2 br, section.features section .section-content p br {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .features section.open img.section-icon {
    width: 70px;
  }
}
@media screen and (min-width: 1400px) {

}
@media screen and (min-width: 1600px) {
  
}
@media screen and (min-width: 1900px) {
  }

.nav__thumb {
    height: 115px;}
}
/*Features Section -- End*/